.fotop {
    height: 186px;
    width: 186px;
    border-radius: 60px;
    color: black;
    
};
.coment {
    align-items: flex-start;
    position:absolute;
};
.capa {
    height: 800px;
    width: 800px;
    align-items: center;
};
.nome {
    color: black;
}
